<ul>
  {{#each this}}
    <li data-press='movie' id='{{id}}'>
      <img src='https://image.tmdb.org/t/p/w500{{this.poster_path}}' />
      <p>{{title}}{{#unless title}}{{original_name}}{{/unless}}</p>
      <p>{{genreNames}}<span> | {{release_date}}</span></p>
    </li>
  {{/each}}
</ul>