<div>
  <img
    src='https://image.tmdb.org/t/p/w500{{poster_path}}'
    alt='{{original_title}}'
  />
  <div>
    <h2>{{original_title}}</h2>
    <ul>
      <li>Vote/Votes<span>{{vote_average}}</span><span
        >{{vote_average}}</span></li>
      <li>Populariry<span>{{popularity}}</span></li>
      <li>Proginal Title<span>{{original_title}}</span></li>
      <li>Genre <span>{{genreNames}}</span></li>
    </ul>
  </div>
  <p>ABOUT</p>
  <p>{{overview}}</p>
  <div>
    <button type='button' data-action='addToWatch'>ADD TO WATCH</button>
    <button type='button' data-action='addToQueue'>ADD TO QUEUE</button>
  </div>
</div>